body {
    color: #1b4d3e;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: "Didact Gothic", sans-serif;
}

/* header ==========================================================*/

header {
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1b4d3e;
    color: #e9ffdb;
}

header>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#head_logo {
    width: 15%;
    height: 100%;
    font-size: 3.5vw;
}


header strong {
    color: white;
}

#head_info {
    width: 60%;
    height: 80%;

}

header a {
    font-size: 2vw;
    color: #e9ffdb;
    text-decoration: none;
}

header a:hover {
    text-decoration: overline;
}

#head_start {
    width: 15%;
    height: 100%;

}


/* main ================================ */

main {
    width: 100%;
    height: 45.5vw;
    background: repeating-linear-gradient(180deg,
            #1b4d3e,
            #1b4d3e .1vw,
            #e9ffdb .1vw,
            #e9ffdb 10vw);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #e9ffdb;
}

/* main container 1 */

.main_cont1 {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.main_cont1>* {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main_cont1_1_1 {
    width: 60%;
    height: 60%;
    background-color: #1b4d3e;
    border-bottom-left-radius: 9vw;
    border-bottom-right-radius: 9vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

}

.main_par {
    width: 85%;
    height: 45%;
    background-color: #1b4d3e;
    color: #e9ffdb;
    border: double 1vw #e9ffdb;
    border-radius: 50%;
    margin-bottom: 1%;
    font-size: 3.5vw;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_cont1_1_2 {
    width: 60%;
    height: 40%;
    background-color: white;
    border-top-right-radius: 9vw;
    border-top-left-radius: 9vw;
}

.main_cont1_2_1 {
    width: 60%;
    height: 40%;
    background-color: #ffff;
    border-bottom-right-radius: 9vw;
    border-bottom-left-radius: 9vw;

}

.main_cont1_2_2 {
    width: 60%;
    height: 60%;
    border-top-left-radius: 9vw;
    border-top-right-radius: 9vw;
    background-color: #1b4d3e;
}

/* headings ================================= */
.headings {
    width: 100%;
    height: 4vw;
    font-size: 3vw;
    background-color: #e9ffdb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}

.headings_title {
    width: 30%;
    height: 100%;
    font-weight: 800;
    padding-left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.headings_more {
    width: 15%;
    margin-right: 5%;
    font-size: 2vw;
    background-color: #ffffff;
    display: flex;
    text-decoration: none;
    color: #1b4d3e;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
}

body>section {
    width: 100%;
    height: 40vw;
    background-color: white;
    height: max-content;
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 3%;
    row-gap: 2vw;
    padding-left: 5%;
}

/* jobs ================================= */


.category_card {
    height: 27vw;
    border: thick solid #e9ffdb;
    margin-left: 3%;
    border-radius: .4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.category_card_heading {
    width: 100%;
    height: 25%;
    background-color: #e9ffdb;
}

.category_card_heading1 {
    width: 100%;
    height: 50%;
    font-weight: 600;
    border-radius: 0.4vw;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.category_card_heading2 {
    width: 100%;
    height: 50%;
    font-size: 1.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.category_card_body {
    width: 96%;
    height: 45%;
    padding: 2%;
    font-size: 1.5vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.category_card_info {
    width: 100%;
    height: 15%;
    background-color: #e9ffdb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.body_job_info_span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    overflow-x: hidden;
    padding-left: 2%;
    padding-right: 2%;
    height: 80%;
    font-size: 1.8vw;
    background-color: #ffffff;
}

.category_card_footer {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.category_card_learn_more {
    color: #1b4d3e;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8vw;
    height: 80%;
    width: 40%;
    margin-left: 4%;
    display: flex;
    padding-right: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #e9ffdb;
    border: thin solid transparent;
}

.category_card_image {
    cursor: pointer;
    width: 30%;
    height: 80%;
    border: thin solid transparent;
    background-color: transparent;
}

.category_card_image>img {
    height: 100%;
}

/* freelance================================= */

/* courses ================================= */


/* contact ================================= */

#contact_me {
    width: 99%;
    margin-top: 1%;
    height: 50vw;
    background-color: #e9ffdb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contact_cont {
    width: 90%;
    height: 80%;
    background-color: #1b4d3e;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.1vw 0.1vw 3vw grey;
}

#contact_socials {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.social {
    width: 40%;
    height: 9%;
    margin-top: 15%;
    margin-left: 10%;
    cursor: pointer;
}

.social>img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.social>img:hover {
    opacity: 1;
}

#contact_body {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#contact_image {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom-right-radius: inherit;

}

#contact_body>form {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#contact_body>form>h2 {
    width: 100%;
    height: 10%;
    font-size: 4vw;
    color: white;
    align-items: center;
}

#contact_body>form>h2>strong {
    color: #e9ffdb;
}

#contact_body>form>p {
    width: 100%;
    font-size: 2vw;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#form_cont_name {
    width: 100%;
    height: 15%;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#name_input {
    width: 100%;
    height: 50%;
    border: none;
    background-color: #e9ffdb;
    border-radius: 1vw;
}

#name_input:focus {
    outline: none;
}

#form_cont_name>label {
    width: 100%;
    height: 20%;
}

#form_cont_email {
    width: 100%;
    height: 16%;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#email {
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 1vw;
    background-color: #e9ffdb;
}

#email:focus {
    outline: none;

}

#form_cont_message {
    width: 100%;
    height: 30%;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#message {
    width: 100%;
    height: 60%;
    border: none;
    border-radius: 1vw;
    background-color: #e9ffdb;
}

#message:focus {
    outline: none;

}

#form_cont_submit {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form_cont_submit>button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 0.5vw;
    height: 90%;
    width: 40%;
    font-size: 2.5vw;
    background-color: #e9ffdb;
}

.button_span1 {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: thin solid;
    align-items: center;
    color: #1b4d3e;
    font-size: 2vw;
}

.button_span2 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: thin solid;
    align-items: center;
}

.button_span2>img {
    height: 65%;
}

#contact_img {
    width: 100%;
    height: 70%;
    background-color: #ffffff;
    border-top-left-radius: 40vw;
    border-bottom-left-radius: 40vw;
    border-top-right-radius: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: inherit;

}

#contact_img>img {
    width: 65%;
}

/* footer ================================= */
footer {
    width: 100%;
    height: 20vw;
    background-color: #1b4d3e;
}
