body {
  color: #1b4d3e;
  background-color: #e9ffdb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Didact Gothic", sans-serif;
}
