body {
  color: #1b4d3e;
  background-color: #e9ffdb;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Didact Gothic", sans-serif;
}

a {
  text-decoration: none;
}

/* header */
header {
  height: 5vw;
  width: 100%;
  background-color: #1b4d3e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: white solid 0.2vw;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 15%;
  height: 100%;
  justify-content: center;
  background-color: white;
}

#logo a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 50%;
  padding-top: 10%;
}

#h_info {
  width: 50%;
  height: 60%;
  justify-content: space-evenly;
  font-size: 2vw;
}

#h_info a {
  color: white;
  font-weight: 800;
}

#h_logs {
  width: 22%;
  height: 100%;
  justify-content: space-evenly;
}

#h_button1 {
  width: 50%;
  height: 80%;
  border-radius: 1vw;
  border: thin solid white;
  background-color: white;
  color: #1b4d3e;
  font-size: 2vw;
  font-weight: 800;
}

#h_button2 {
  width: 40%;
  height: 60%;
  border: 0.2vw white solid;
  background-color: transparent;
  color: white;
  font-size: 1.6vw;
  font-weight: 600;
  border-radius: 1vw;
}

/* navigation bar */
nav {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 0;
  height: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav > div {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 0.5vw;
}

nav a {
  color: #1b4d3e;
  font-weight: 600;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  border-radius: 0.5vw;
  background-color: #e9ffdb;
}

/* ===================main================================= */
main {
  width: 100%;
  height: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

main > div {
  height: 100%;
  color: #1b4d3e;
}

#m_cont1 {
  width: 45%;
  font-size: 2.5vw;
  border: thin solid #e9ffdb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#m_cont1 > h2 {
  text-align: center;
  line-height: 5vw;
}

#m_cont1 > button {
  width: 45%;
  height: 12%;
  color: #1b4d3e;
  border: 0.5vw double #1b4d3e;
  background-color: white;
  font-size: 2.5vw;
  font-weight: 600;
  border-radius: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#m_cont2 {
  width: 50%;
}
#m_cont2 > img {
  width: 100%;
  height: 100%;
}

/* ======================log in page=====================*/
#login {
  width: 100%;
  height: 55vw;
  background-color: #e9ffdb;
  color: #1b4d3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login > div {
  width: 100%;
  height: 65%;
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#loginForm > form {
  width: 30%;
  font-size: 3vw;
  height: 100%;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0.002vw 0.0002vw 0.6vw grey;
}
#loginForm > form > input {
  width: 85%;
  height: 10%;
  border-radius: 3vw;
  border: thin solid #1b4d3e;
  text-align: center;
  font-size: 1.8vw;
  font-weight: 200;
}

#loginForm > form > button {
  height: 12%;
  width: 80%;
  font-size: 2.5vw;
  font-weight: 500;
  border: double 1vw #e9ffdb;
  background-color: white;
  font-family: "Source Code Pro", monospace;
  color: #1b4d3e;
  border-radius: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ================= services ========================== */
#services {
  width: 100%;
  height: 8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
#services > button {
  width: 30%;
  height: 100%;
  background-color: #1b4d3e;
  border: none;
  color: #e9ffdb;
  font-size: 3.7vw;
  font-weight: 600;
}
/* ===================explore job categories========================= */
#explore {
  width: 100%;
  height: 60vw;
  margin-top: 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#explore > h2 {
  height: 10%;
  font-size: 4vw;
  margin-left: 3%;
  text-decoration: underline;
}

#explore_cont {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#explore_cont > div {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: thin solid #1b4d3e;
}

/* =====================search find and apply======================== */
#search {
  color: #1b4d3e;
  width: 100%;
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#search p {
  font-size: 1.8vw;
}

#search h2 {
  font-size: 5vw;
  font-weight: 800;
}

#search_info {
  width: 55%;
  height: 29%;
  border: thin solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5vw;
  background-color: white;
}

#search_info > span {
  width: 35%;
  height: 90%;
  border-right: thin solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#search_info > span > input {
  width: 100%;
  height: 100%;
  font-size: 2vw;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#search_info > span > input:focus {
  outline: none;
}

#search_info button {
  width: 30%;
  height: 100%;
  border: none;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
  background-color: #1b4d3e;
  color: white;
  font-size: 3vw;
  font-weight: 600;
}

/* ================results========================== */
#results {
  width: 100%;
  height: 57vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

#results > div {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.category_card {
  width: 27%;
  height: 95%;
  border-radius: 0.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e9ffdb;
  box-shadow: 0.002vw 0.002vw 1vw grey;
}

.category_card_header {
  width: 100%;
  height: 25%;
  border-radius: 0.8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category_card_header_logo {
  width: 25%;
  height: 100%;
  border-radius: 0.8vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.category_card_header_logo > img {
  width: 95%;
  height: 95%;
}
.category_card_header_info {
  width: 70%;
  height: 100%;
  border-radius: 0.8vw;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.job_desc_title {
  font-size: 2vw;
  font-weight: 600;
}

.category_card_body {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.body_job_desc {
  height: 70%;
  width: 95%;
  font-size: 1.6vw;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.body_job_info {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.body_job_info_span {
  height: 70%;
  width: 30%;
  background-color: white;
  border-radius: 0.5vw;
  font-size: 1.6vw;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category_card_foot {
  width: 100%;
  height: 20%;
  border-radius: 0.8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view_more_job {
  width: 50%;
  height: 90%;
  border: none;
  background-color: white;
  color: #1b4d3e;
  font-size: 2vw;
  font-weight: 600;
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.save_job {
  width: 20%;
  height: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.save_job > img {
  height: 60%;
}

/* ====================courses==================== */

#courses {
  width: 100%;
  height: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#courses > h2 {
  height: 5%;
  width: 100%;
  text-align: left;
  margin-left: 4%;
  font-size: 4vw;
  text-decoration: underline;
}

#courses_cont {
  width: 100%;
  height: 93%;
}

#courses_cont>div{
  width: 100%;
  height: 50%;
  border: thin solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.courses_card{
  width: 27%;
  height: 96%;
  border: thin solid;
  background-color: white;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.courses_image{
  width: 100%;
  height: 45%;
  background-color: #e9ffdb;
  border-radius: 1vw;
}

.course_title{
  width: 100%;
  height: 10%;
  font-size: 1.7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course_desc{
  width: 100%;
  height: 30%;
  background-color: #e9ffdb;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course_desc>p{
  width: 95%;
}
.course_buttons{
  width: 100%;
  height: 15%;
  border-radius: 1vw;
}
/* footer */
footer {
  width: 100%;
  height: 30vw;
  background-color: #1b4d3e;
}

