body {
  color: #1b4d3e;
  background-color: #e9ffdb;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Didact Gothic", sans-serif;
}

a {
  text-decoration: none;
}

/* header */
header {
  height: 5vw;
  width: 100%;
  background-color: #1b4d3e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: white solid 0.2vw;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 15%;
  height: 100%;
  justify-content: center;
  background-color: white;
}

#logo a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 50%;
  padding-top: 10%;
}

#h_info {
  width: 50%;
  height: 60%;
  justify-content: space-evenly;
  font-size: 2vw;
}

#h_info a {
  color: white;
  font-weight: 800;
}

#h_logs {
  width: 22%;
  height: 100%;
  justify-content: space-evenly;
}

#h_button1 {
  width: 50%;
  height: 80%;
  border-radius: 1vw;
  border: thin solid white;
  background-color: white;
  color: #1b4d3e;
  font-size: 2vw;
  font-weight: 800;
}

#h_button2 {
  width: 40%;
  height: 60%;
  border: 0.2vw white solid;
  background-color: transparent;
  color: white;
  font-size: 1.6vw;
  font-weight: 600;
  border-radius: 1vw;
}

/* navigation bar */
nav {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 0;
  height: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav > div {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 0.5vw;
}

nav a {
  color: #1b4d3e;
  font-weight: 600;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  border-radius: 0.5vw;
  background-color: #e9ffdb;
}

/* ===================main================================= */
main {
  width: 100%;
  height: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

main > div {
  height: 100%;
  color: #1b4d3e;
}

#m_cont1 {
  width: 45%;
  font-size: 2.5vw;
  border: thin solid #e9ffdb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#m_cont1 > h2 {
  text-align: center;
  line-height: 5vw;
}

#m_cont1 > button {
  width: 45%;
  height: 12%;
  color: #1b4d3e;
  border: 0.5vw double #1b4d3e;
  background-color: white;
  font-size: 2.5vw;
  font-weight: 600;
  border-radius: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#m_cont2 {
  width: 50%;
}
#m_cont2 > img {
  width: 100%;
  height: 100%;
}

/* ======================log in page=====================*/
#login {
  width: 100%;
  height: 55vw;
  background-color: #e9ffdb;
  color: #1b4d3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login > form {
  width: 100%;
  height: 78%;
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#loginForm > div {
  width: 35%;
  font-size: 3vw;
  height: 100%;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0.002vw 0.0002vw 0.6vw grey;
}
#loginForm > div > input {
  width: 85%;
  height: 10%;
  border-radius: 3vw;
  border: thin solid #1b4d3e;
  text-align: center;
  font-size: 1.8vw;
  font-weight: 200;
}

#loginForm > div > button {
  height: 12%;
  width: 80%;
  font-size: 2.5vw;
  font-weight: 500;
  border: double 1vw #e9ffdb;
  background-color: white;
  font-family: "Source Code Pro", monospace;
  color: #1b4d3e;
  border-radius: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ================= services ========================== */
#services {
  width: 100%;
  height: 8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
#services > button {
  width: 30%;
  height: 100%;
  background-color: #1b4d3e;
  border: none;
  color: #e9ffdb;
  font-size: 3.7vw;
  font-weight: 600;
}
/* ===================explore job categories========================= */
#explore {
  width: 100%;
  height: 50vw;
  margin-top: 2%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#explore > h2 {
  height: 10%;
  font-size: 4vw;
  margin-left: 3%;
  text-decoration: underline;
}

#explore_cont {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#explore_cont > div {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  border: thin solid #1b4d3e;

}
/* =====================search find and apply======================== */
#search {
  color: #1b4d3e;
  width: 100%;
  height: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#search p {
  font-size: 1.7vw;
}

#search h2 {
  font-size: 4vw;
  font-weight: 800;
}

#search_info {
  width: 50%;
  height: 25%;
  border: thin solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5vw;
}

#search_info > span {
  width: 40%;
  height: 90%;
  border-right: thin solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#search_info > span > input {
  width: 100%;
  height: 100%;
  font-size: 1.8vw;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#search_info > span > input:focus {
  outline: none;
}

#search_info button {
  width: 20%;
  height: 100%;
  border: none;
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  background-color: #1b4d3e;
  color: white;
  font-size: 1.8vw;
  font-weight: 600;
}

/* results */
#results {
  width: 100%;
  height: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(46, 139, 87, 0.3);
}

.card {
  height: 90%;
  width: 30%;
  border-radius: 1vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4vw;
  border: thin solid #1b4d3e;
}

.job_title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 1vw;
  border-bottom: thin solid #1b4d3e;
}

.company_logo {
  height: 100%;
  width: 20%;
  border: thin solid #1b4d3e;
  border-top-left-radius: 1vw;
}

.job_title_info {
  width: 80%;
  text-align: center;
}

.job_description {
  width: 95%;
  height: 40%;
  overflow: hidden;
  line-height: 1.8vw;
  letter-spacing: 0.04vw;
  word-spacing: 0.35vw;
}

.job_info {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.job_info_x {
  width: 25%;
  height: 80%;
  background-color: rgb(46, 139, 87, 0.2);
  border-radius: 0.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.job_apply {
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.job_apply button {
  width: 25%;
  height: 90%;
  border-radius: 00.5vw;
  border: none;
  background-color: seagreen;
  color: white;
}

/* footer */
footer {
  width: 100%;
  height: 30vw;
  background-color: seagreen;
}
