.seeker-view {
    width: 99%;
    height: 51vw;
    border: thin solid;
    margin-top: .2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



#aside-seeker-bar {
    width: 10%;
    height: 100%;
    border: thin solid #1b4d3e;
}

#seeker-home-all {
    width: 90%;
    height: 100%;
    background-color: #e9ffdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

#seeker-results {
    width: 100%;
    height: 80%;
    border: thin solid #1b4d3e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#seeker-search {
    width: 70%;
    height: 20%;
    border: thin solid #1b4d3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#seeker-search>div {
    height: 50%;
    width: 100%;
    font-size: 1.7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.search-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    font-size: 1.5vw;
    height: 70%;
    border: thin solid #1b4d3e;
}

.search-input>span {
    background-color: #1b4d3e;
    color: #e9ffdb;
    border: thin solid transparent;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

input:focus {
    outline: thin solid #1b4d3e;
}

.search-input>input {
    font-size: 1.5vw;
    width: 70%;
    height: 100%;
    border: thin solid transparent;
}

#seeker-job-results {
    list-style: none;
    overflow-y: scroll;
    width: 35%;
    height: 100%;
    background-color: #1b4d3e;
}

#search-submit {
    width: 10%;
    height: 70%;
    background-color: #1b4d3e;
    color: #e9ffdb;
    font-size: 1.8vw;
    border: thin solid #1b4d3e;
}

#seeker-job-view {
    width: 65%;
    height: 100%;
    background-color: white;
}

.seeker-job-item {
    margin-left: .2vw;
    width: 98%;
    border-radius: .5vw;
    margin-top: 0.5vw;
    height: 15vw;
    background-color: #e9ffdb;
}
