.seeker-view {
    width: 99%;
    height: 51vw;
    border: thin solid;
    margin-top: .2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



#aside-seeker-bar {
    width: 10%;
    height: 100%;
    border: thin solid #1b4d3e;
}

#seeker-home-all {
    width: 90%;
    height: 100%;
    background-color: #e9ffdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

#seeker-results {
    width: 100%;
    height: 80%;
    border: thin solid #1b4d3e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#seeker-search {
    width: 70%;
    height: 20%;
    border: thin solid #1b4d3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#seeker-job-results {
    width: 35%;
    height: 100%;
    background-color: #1b4d3e;
}

#seeker-job-view {
    width: 65%;
    height: 100%;
    background-color: white;
}
